/* You can add global styles to this file, and also import other style files */
.disp{
	background-color: gray;
	font-size: 50px;
	color:white;
	padding-bottom: 5px;
	text-align: center;
}
th, td {
    padding: 15px;
    text-align: left;
}

table{
	border:1px;
	margin-left: 80px;
}

@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
